
<meta property="og:type" content="blog">
<meta property="og:title" content="{% if page.title %}{{ page.title | escape }} - {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
<meta property="og:image" content="/img/post-icon.jpg"> 
<meta property="og:url" content="https://baikalai.github.io/">

<meta property="twitter:card" content="summary"> 
<meta property="twitter:title" content="{% if page.title %}{{ page.title | escape }} - {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}"> 
<meta property="twitter:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}"> 
<meta property="twitter:image" content="/img/post-icon.jpg">

